@media (max-width: 992px) {
    main {
        padding: 0 10px;

        .banner {
            padding: 40px 4%;

            h1 {
                width: 90%;
                margin: 0 5%;
            }
        }
    }

    header {
        nav {
            padding: 0 10px;
            position: relative;

            ul {
                position: absolute;
                width: 100%;
                left: 0;
                top: 80px;
                background-color: #ffffff;
                display: none;

                &.open {
                    display: block;
                }

                li {
                    width: 100%;
                    display: block;
                    border: 1px solid #f2f2f2;
                }
            }

            .menu {
                display: block;
            }
        }
    }
}